<?xml version="1.0"?>
<simplDeployPackagerConfig xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
  <buildConfig />
  <projectFile>D:\Projecten\MichaelTan\Systemair B.V\SpecificationsTesting\Application\SpecificationsTestingV2\SpecificationsTestingV2.csproj</projectFile>
  <product>SpecificationsTestingV2</product>
  <publisher>Michael Tan</publisher>
  <version>1.0.0.0</version>
  <entryPoint>SpecificationsTestingV2.exe</entryPoint>
  <quietMayor>false</quietMayor>
  <inAppUpdate>false</inAppUpdate>
  <StartupArgumentsEnabled>false</StartupArgumentsEnabled>
  <shipPdb>false</shipPdb>
  <signPackageEnabled>false</signPackageEnabled>
  <certificatePath />
  <savePassword>false</savePassword>
  <timeStampServerUrl />
  <customUninstallProcedureEnabled>false</customUninstallProcedureEnabled>
  <uninstallArgs />
  <sdkStyleProject>true</sdkStyleProject>
  <sdkStyleProjectProperties>
    <folderPublishProfileName>FolderProfile</folderPublishProfileName>
  </sdkStyleProjectProperties>
  <deploymentTargets>
    <rootUrl>https://raw.githubusercontent.com/Johnwillliam/SpecificationsTesting/master/Published/</rootUrl>
    <destinationFolder>D:\Projecten\MichaelTan\Systemair B.V\SpecificationsTesting\Published</destinationFolder>
    <useDefaultDestinationFolder>false</useDefaultDestinationFolder>
    <isActivated>true</isActivated>
  </deploymentTargets>
</simplDeployPackagerConfig>