<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<configSections>
  <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
   <section name="SpecControle.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
  </sectionGroup>
 </configSections>
 <connectionStrings>
		<add name="SpecificationsDatabase" connectionString="Server=localhost;Database=SpecificationsTesting;Trusted_Connection=True;TrustServerCertificate=True;" />
	</connectionStrings>
	<appSettings>
		<add key="SerialPortName" value="COM3" />
		<add key="SerialPortBaudRate" value="19200" />
	</appSettings>
	<system.diagnostics>
		<trace autoflush="false" indentsize="4">
			<listeners>
				<add name="myListener" type="System.Diagnostics.TextWriterTraceListener" initializeData="TextWriterOutput.log" />
				<remove name="Default" />
			</listeners>
		</trace>
	</system.diagnostics>
 <userSettings>
  <SpecControle.Properties.Settings>
   <setting name="LastUsedStickerPrinter" serializeAs="String">
    <value />
   </setting>
   <setting name="LastUsedPrinter" serializeAs="String">
    <value />
   </setting>
  </SpecControle.Properties.Settings>
 </userSettings>
</configuration>